* text=auto

.github                export-ignore
.*                     export-ignore
*.dist                 export-ignore
*.yaml                 export-ignore
*.xml                  export-ignore
composer.lock          export-ignore
tests                  export-ignore
